body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #545454;
	background-color: #e6e8fa;
	background-image: url(../images/background-top.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	z-index: 1;
}
h1, h2, h3,ul,li{
	padding: 0px;
	margin: 0px;
}
ul li {
	font-size: 14px;
}
.page-in {
	background-image: url(../images/background-bottom.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 100%;
	float: left;
}
.page {
	width: 1000px;
	margin: 0px auto;
	float: center;
}
.header-top {
	width: 1000px;
	height: 81px;
	float: left;
}
.heading {
	z-index: 10;
	position: relative;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
}
.heading h1, h2 {
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
			 0px 8px 13px rgba(0, 0, 0, 0.1),
			 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.heading h1 {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 25px;
	font-weight: normal;
	line-height: 40px;
	color: #fff;
	margin-left: 00px;
}
.heading h2 {
	font-family: "Times New Roman", Times, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	color: #fff;
	margin-left: 00px;
	margin-top:-10px;
	margin-bottom:4px;
}
.slideshow { 

  position: absolute;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  z-index: 0;

  list-style: none;

  margin: 0;

  padding: 20px;

}

.slideshow li { 

  width: 100%;

  height: 192px;

  position: absolute;
	
  top: 0;
	
  left: 0;

  background-position: 50% 20%;
	
  background-size: cover;

  background-repeat: no-repeat;
	
  float: left;

  opacity: 0;

  z-index: 0;

  animation: imageAnimation 50s linear infinite; 

}



.slideshow li:nth-child(1) { 

  background-image: url(../images/oat.jpg) 

}

.slideshow li:nth-child(2) { 

  background-image: url(../images/hawaMahal.jpg);

  animation-delay: 10s; 

}

.slideshow li:nth-child(3) { 

  background-image: url(../images/indiaGate.jpg);

  animation-delay: 20s; 

}

.slideshow li:nth-child(4) { 

  background-image: url(../images/tajMahal.jpg);

  animation-delay: 30s; 

}

.slideshow li:nth-child(5) { 

  background-image: url(../images/lotusTemple.png);

  animation-delay: 40s; 

}



@keyframes imageAnimation { 

  0% { 

    opacity: 0; 

    animation-timing-function: ease-in;

  }

  10% {

    opacity: 1;

    animation-timing-function: ease-out;

  }

  20% {

    opacity: 1

  }

  30% {

    opacity: 0

  }

}
.topmenu {
	background-image: url(../images/topmenu.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 1024px;
	height: 74px;
	float: left;
	position: relative;
}
.topmenu ul {
	height: 74px;
	margin-left: 10px;
	list-style-type: none;
}
.topmenu ul li {
	height: 74px;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
}
.topmenu ul li a {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 74px;
	color: #e6e8fa;
	text-decoration: none;
	height: 74px;
	float: left;
	padding-left: 4px;
}
.topmenu ul li a span {
	display: block;
	height: 74px;
	float: left;
	padding-right: 20px;
	cursor: pointer;
}
.topmenu ul li a:hover {
	background-image: url(../images/menu-hover1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.topmenu ul li a:hover span {
	background-image: url(../images/menu-hover2.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.content {
	background-color: #ffffff;
	width: 952px;
	float: left;
	padding: 30px 24px 0px 24px;
}
.content-left {
	background-image: url(../images/vline.jpg);
	background-repeat: repeat-y;
	text-align: justify;
	background-position: right top;
	width: 621px;
	float: left;
	padding-right: 21px;
	font-size: 14px;
}
.title {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-bottom: 30px;
}
.title span {
	color: #33cc00;
}
ul.list1 {
	margin-top: 5px;
	margin-left: 25px;
	list-style-image: url(../images/bullet.jpg);
}
ul.list1 li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.content-right {
	width: 310px;
	float: right;
	padding-top: 7px;
}
.footer {
	line-height: 69px;
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	height: 69px;
	float: left;
	padding: 23px 24px 0px 24px;
}
.footer p {
	font-size: 11px;
	color: #FFFFFF;
	float: left;
}
.footer a {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul {
	float: right;
}
.footer ul li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.footer li a{
	font-size: 14px;
}
.footer ul li a:hover {
	text-decoration: underline;
}
